/* Default background for desktop */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152a05;
    overflow-x: hidden;
}

.background {
    display: flex;
    position: relative;
}

.background-mobile {
    display: none;
}

.background-desktop {
    height: 100vh;
    box-shadow: 0px 0px 300px 0px rgb(237 212 121);
}

.content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    color: black;
    background-color: white;
    opacity: 0.8;
    padding: 20px;
    border-radius: 50px;
    margin: 0 auto;
}

.left-tree {
    position: absolute;
    left: -31.5%;
    height: 100%;
    transform: rotate(-58deg);
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.right-tree {
    position: absolute;
    height: 100%;
    right: -31.5%;
    transform: rotate(-122deg) scaley(-1);
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}


/* Background for mobile screens */
@media (max-width: 768px) {
    .background-desktop {
        display: none;
    }

    .background-mobile {
        display: block;
        width: 100vw;
        height: 100vh;
    }

    .left-tree,
    .right-tree {
        display: none;
    }
}
